{% extends 'userLayout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="home-index">

    <div class="jumbotron">
        <div class="container-fluid">
            <div class="justify-content-center">
                <h1 class="text-center">Le Royaume</h1>
            </div>
        </div>
    </div>

</section>
{% endblock %}
