{% extends 'userLayout.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<section class="home-index">

    <div class="jumbotron">
        <div class="container-fluid">
            <div class="justify-content-center">
                <img class="img-fluid img-left" src="{{ asset('build/image_header_left.png') }}">
                <h1 class="flex-wrap">Le Royaume </h1>
                <img class="img-fluid img-right" src="{{ asset('build/image_header_right.png') }}">
                <p>Association de reconstitution médiéval</p>
            </div>
        </div>
    </div>

</section>
{% endblock %}
