/* --- COLORS --- */

$primary-color : #0D0D0D;
$secondary-color : #BF0F0F;
$navbar-text-color : rgba(0, 0, 0, 0.5);

$primary-text-color : white;
$title-text-color : #E1DCBD;

/* --- FONTS --- */

$font-main-title : 'Kingdom' , sans-serif;

$font-title: 'Montserrat', sans-serif;

/* --- OTHERS --- */

$navbar-height : 100px;