/* --- COLORS --- */

$primary-color: #0D0D0D;
$secondary-color: #BF0F0F;
$section-color-light: #f2e0c8;
$section-color-dark: #e8d3b6;
$btn-form-controller: #bd8d4c;
$navbar-text-color: rgba(0, 0, 0, 0.5);

$primary-text-color: white;
$title-text-color: #E1DCBD;
$subtitle-text-color: #707579;

/* --- FONTS --- */

$font-main-title: 'Kingdom', sans-serif;
$font-text: 'Lato', sans-serif;

$font-title: 'Montserrat', sans-serif;

/* --- OTHERS --- */

$navbar-height: 50px;

/* --- MIXINS --- */


@mixin required($character : ' * ', $color : red) {
  content: $character;
  color: $color;
}

@mixin basic-card($width, $max-width) {
  width: $width;
  max-width: $max-width;
  border: unset;
  border-radius: unset;
  box-shadow: 0 3px 5px -1px rgba($primary-color, 0.08), 0 5px 8px 0 rgba($primary-color, 0.12), 0 1px 14px 0 rgba($primary-color, 0.06);
}

@mixin card-form($width, $max-width) {
  width: $width;
  max-width: $max-width;
  border: unset;
  border-radius: unset;
  box-shadow: 0 3px 5px -1px rgba($primary-color, 0.08), 0 5px 8px 0 rgba($primary-color, 0.12), 0 1px 14px 0 rgba($primary-color, 0.06);
  .required::after {
    @include required();
  }
}

@mixin card-dashboard($width, $max-width) {
  background-color: $primary-text-color;
  width: $width;
  max-width: $max-width;
  border: unset;
  border-radius: unset;
  box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);

  .card-header {
    font-size: calc(15px + (20 - 15) * ((100vw - 300px) / (1600 - 300)));
    font-weight: unset;
    border: unset;
    border-radius: unset;
    background-color: $btn-form-controller;
    color: $primary-text-color;
  }
}

@mixin card-profile() {

  @include card-dashboard(45rem, 100%);

  .profil-picture {
    img {
      width: 12rem;
      height: 12rem;
      object-fit: cover;
      box-shadow: 0 0 4px 4px $section-color-light;
      @media screen and (min-width: 1000px) and (max-width: 1700px) {
        width: 9rem;
        height: 9rem;
      }
    }
  }

  .card-body {
    padding-left: 2rem;

    .card-title {
      font-family: $font-main-title;
      font-size: 3rem;
    }

    img {
      width: 18px;
      height: 18px;
      margin-right: 15px;
    }

    p {
      font-size: 1rem;
      margin: 0 0 5px 0;
    }

    @media screen and (min-width: 1000px) and (max-width: 1300px) {
      padding-left: 1.8rem;

      .card-title {
        font-size: 2rem;
      }

      img {
        width: 16px;
        height: 16px;
        margin-right: 15px;
      }

      p {
        font-size: 0.8rem;
        margin: 0 0 5px 0;
      }
    }
  }
}
