@import "~bootstrap/scss/bootstrap";
@import "vars";
@import "index";
@import "security";
@import "user_dashboard";


/*================== Style Alert ===============*/

.alert {
  border: none;
  padding: 20px;
  border-radius: unset;
  margin-top: $navbar-height;
}

/*================== Fin Style Alert ===============*/


/* ================== STYLE NAVBAR ================== */


body {
  font-family: $font-text;
}

h1 {
  color: $primary-text-color;
  font-family: $font-main-title;
  font-size: calc(50px + (100 - 50) * ((100vw - 300px) / (1600 - 300)));

}

h2 {
  font-family: $font-main-title;
  font-size: calc(35px + (60 - 35) * ((100vw - 300px) / (1600 - 300)));
  color: $primary-text-color;
}

h3 {
  font-family: $font-title;
  font-size: calc(16px + (38 - 16) * ((100vw - 300px) / (1600 - 300)));
  font-weight: 700;
  color: $primary-text-color;
}

h4 {
  font-family: $font-title;
  color: $primary-text-color;
}

.navbar {
  -webkit-transition: all 0.6s ease-out;
  -moz-transition: all 0.6s ease-out;
  -o-transition: all 0.6s ease-out;
  -ms-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
  height: 100px;

  .navbar-brand {
    height: $navbar-height;
  }

  span {
    color: rgba(255, 255, 255, 0.5);
    font-size: 2rem;
  }
}

.navbar-transparent {
  background-color: $navbar-text-color;

  a:hover {
    background-color: unset;
  }
}

.bg-custom {
  background-color: $secondary-color;

  a {
    color: $primary-color;

    &:hover {
      color: $primary-color;
      border: none;
    }
  }
}


.logo-navbar {
  height: auto;
  width: 100px;
  position: absolute;
  top: 35px;
  left: 18px;
}

.nav-link {
  font-size: 1.8rem;
}

/* ================== END STYLE NAVBAR ================== */

@font-face {
  font-family: "Kingdom";
  src: url('../fonts/Olondon.otf') format("opentype");
}