.folder-section {
  padding-top: 15vh;

  .card-document {
    @include basic-card(25rem, 100%);

    .btn{
      @include btn-custom();
    }

    img {
      max-height: 15vh;
      object-fit: contain;
    }

    p {
      font-family: $font-main-title;
      font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    }

  }

  a {
    color: $primary-color;
    text-decoration: unset;
  }
}

.file-section {
  background-color: $section-color-light;
  padding-top: 15vh;


  .btn{
    @include btn-custom();
    margin-left: 40%;
  }

  .btn-back {
    margin-left: 5%;
  }
  .card-file {
    @include basic-card(28rem, 100%);

    img {
      max-height: 15vh;
      object-fit: contain;
    }
  }
}