.folder-section {
  background-color: $section-color-light;
  padding-top: 15vh;

  .card-document {
    @include basic-card(25rem, 100%);

    .btn-form {
      margin-left: 40%;
      background-color: $btn-form-controller;
      color: $primary-text-color;
      font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    }

    img {
      max-height: 15vh;
      object-fit: contain;
    }

    p {
      font-family: $font-main-title;
      font-size: calc(15px + (30 - 15) * ((100vw - 300px) / (1600 - 300)));
    }
  }
}

.document-section {
  background-color: $section-color-light;
  padding-top: 15vh;

  .card-document {
    @include card-dashboard(25rem, 100%);

    .btn-form {
      margin-left: 40%;
      background-color: $btn-form-controller;
      color: $primary-text-color;
      font-size: calc(12px + (18 - 12) * ((100vw - 300px) / (1600 - 300)));
    }

    img {
      max-height: 15vh;
      object-fit: contain;
    }
  }
}