.log-in {

  .jumbotron {
    z-index: -1;
    background-size: contain;
    background-attachment: fixed;
    filter: sepia(80%);
    background-image: url('../images/image_header_login.jpg');
    background-color: rgba(0, 0, 0, 0.3);
    background-blend-mode: color;
    padding-top: 30vh;
    padding-bottom: 6%;
    margin-bottom: 0;
    @media screen and (min-width: 200px) and (max-width: 900px) {
      background-size: contain;
      padding-top: 50vh;
      background-image: url('../images/image_header_login_mobile.jpg');
    }
  }

  .bg-section-limit{
    background-image: url("../images/image_banner_upper.png");
    margin-top: -65px;
    z-index: 1000;
    height: 95px;
  }

  .container{
    background-color: $section-color-light;
  }
}