.user-dashboard-section {
  background-color: $section-color-light;
  padding-top: 20vh;

  .card {
    @include card-dashboard(45rem, 90%);

    .profil-picture {
      img {
        width: 12rem;
        height: 12rem;
        object-fit: cover;
        box-shadow: 0 0 3px 3px $section-color-light;
      }
    }

    .card-body {
      padding-left: 2rem;
      .card-title {
        font-family: $font-main-title;
        font-size: 3rem;
      }

      img {
        width: 18px;
        height: 18px;
        margin-right: 15px;
      }

      p {
        font-size: 1rem;
        margin: 0 0 5px 0;
      }

      .card-text {
        margin-left: 3rem;
      }
    }
  }
}