.user-listing-section {
  background-color: $section-color-light;
  padding-top: 15vh;

  .container-fluid {
    width: 80%;
    @media screen and (min-width: 200px) and (max-width: 900px) {
      width: 100%;
    }
  }

  .card-profile {
    @include card-profile;

    .row {
      padding: 1rem 0 1rem 0;
    }

    .card-header {
      font-family: $font-main-title;
      font-size: 2.3rem;
      a {
        outline: none;
      }

      i {
        margin-top: 15px;
        color: $primary-text-color;
        font-size: 1.8rem;
      }

      .gender {
        margin: unset;
      }

      .dropdown-menu {
        font-family: $font-text;
        background-color: $primary-text-color;
        padding: 0;
        border: unset;
        border-radius: unset;
        box-shadow: 0 3px 5px -1px rgba($primary-color, 0.08), 0 5px 8px 0 rgba($primary-color, 0.12), 0 1px 14px 0 rgba($primary-color, 0.06);

        .dropdown-item {
          padding: 1rem;

          &:hover {
            background-color: $section-color-dark;
            color: $primary-color;
          }
        }
      }
    }
  }
}