.user-dashboard-section {
  padding-top: 10vh;

  .container-fluid {
    width: 80%;
    @media screen and (min-width: 200px) and (max-width: 900px) {
      width: 100%;
    }
  }
}

.card-profile {
  @include card-profile;

  i {
    color: $primary-text-color;
    font-size: 1.8rem;
  }

  .gender {
    color: $primary-color;
    font-size: 2rem;
    margin-left: 5%;
  }
}

.card-buddy {
  @include card-dashboard(35rem, 100%);

  .profil-picture {
    img {
      width: 8rem;
      height: 8rem;
      object-fit: cover;
      box-shadow: 0 0 4px 4px $section-color-light;
    }
  }

  .card-body {
    padding-left: 1.8rem;

    .card-title {
      font-family: $font-main-title;
      font-size: 2rem;
    }

    img {
      width: 16px;
      height: 16px;
      margin-right: 15px;
    }

    p {
      font-size: 0.8rem;
      margin: 0 0 5px 0;
    }
  }
}

.card-trade {
  @include card-dashboard(45rem, 100%);

  i {
    color: $primary-text-color;
    font-size: 1.8rem;
  }

  .card-body {
    padding-left: 2rem;

    .card-title {
      font-family: $font-main-title;
      font-size: 3rem;
    }

    img {
      width: 50px;
      height: 50px;
      margin-right: 15px;
    }

    p {
      font-size: 1rem;
      margin: 0 0 5px 0;
    }

    .card-text {
      margin-left: 4rem;
    }
  }
}


.card-godchild {
  @include card-dashboard(35rem, 100%);

  i {
    color: $primary-text-color;
    font-size: 1.8rem;
  }

  .profil-picture {
    img {
      width: 7rem;
      height: 7rem;
      object-fit: cover;
      box-shadow: 0 0 4px 4px $section-color-light;
    }
  }

  .godchildNext {
    border-bottom: $btn-form-controller 1px solid;
  }

  .card-body {
    padding-left: 1.5rem;


    .card-title {
      font-family: $font-main-title;
      font-size: 1.8rem;
    }

    img {
      width: 15px;
      height: 15px;
      margin-right: 15px;
    }

    p {
      font-size: 0.7rem;
      margin: 0 0 5px 0;
    }

    i {
      color: $primary-color;
      font-size: 1.8rem;
    }
  }
}

.user_edit {
  background-color: $section-color-light;
  padding-top: 10vh;

  .form-error-icon {
    background-color: $primary-color;
  }

  .alert {
    margin-top: 15px;
    margin-bottom: unset;
  }

  h1 {
    color: $primary-color;
  }

  .card {
    @include card-form(50rem, 100%);

    .btn{
      @include btn-custom();
    }

    img {
      border-radius: 50%;
      object-fit: cover;
      box-shadow: 0 0 4px 4px $section-color-light;
      width: 9rem;
      height: 9rem;
      transform: translate(X, -50%);
      margin-top: 2rem;
    }
  }
}

.user-jobs-edit {
  background-color: $section-color-light;
  padding-top: 10vh;

  h1 {
    color: $primary-color;
  }

  .card {
    @include card-form(40rem, 100%);

    .btn{
      @include btn-custom();
    }
  }

  .form-check {
    margin-left: 30%;
  }

  h5 {
    font-family: $font-main-title;
    font-size: 2rem;
  }

  .form-trade {
    border-top: $btn-form-controller 1px dashed;
    padding-top: 20px;
  }
}