.user-listing-section {
  padding-top: 10vh;

  .container-fluid {
    width: 80%;
    @media screen and (min-width: 200px) and (max-width: 900px) {
      width: 100%;
    }
  }

  form {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    width: 50px;
    height: 50px;
    background: $primary-text-color;
    box-sizing: border-box;
    border-radius: 25px;
    border: 4px solid $primary-text-color;
    padding: 5px;

    &:hover {
      width: 400px;
      cursor: pointer;

      input {
        display: block;
      }

      .fa, .fab {
        background: $primary-color;
        color: $primary-text-color;
      }
    }

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;;
      height: 42.5px;
      line-height: 30px;
      outline: 0;
      border: 0;
      display: none;
      font-size: 1em;
      border-radius: 20px;
      padding: 0 20px;
    }

    .fa, .fab {
      box-sizing: border-box;
      padding: 10px;
      width: 42.5px;
      height: 42.5px;
      position: absolute;
      top: 0;
      right: 0;
      border-radius: 50%;
      color: $primary-color;
      text-align: center;
      font-size: 1.2em;
      transition: all 1s;
    }

    .fab {
      padding: 8px;
      font-size: 1.5em;
    }
  }

  .card-profile {
    @include card-profile();

    .btn {
      @include btn-custom();
    }

    .row {
      padding: 1rem 0 1rem 0;
    }

    .card-header {
      font-family: $font-main-title;
      font-size: 2.3rem;

      a {
        outline: none;
      }

      i {
        margin-top: 10px;
        color: $primary-text-color;
        font-size: 1.7rem;
      }

      .gender {
        margin: unset;
      }

      .dropdown-menu {
        font-family: $font-text;
        background-color: $primary-text-color;
        padding: 0;
        border: unset;
        border-radius: unset;
        box-shadow: 0 3px 5px -1px rgba($primary-color, 0.08), 0 5px 8px 0 rgba($primary-color, 0.12), 0 1px 14px 0 rgba($primary-color, 0.06);

        .dropdown-item {
          padding: 1rem;

          &:hover {
            background-color: $section-color-dark;
            color: $primary-color;
          }
        }
      }
    }
  }
}