.user-dashboard-section {
  background-color: $section-color-light;
  padding-top: 20vh;

  .card {
    @include card-form(50rem, 90%);
    box-shadow: 1rem 0.8rem 3.067rem rgba(176, 159, 132, 0.64);

    .card-header {
      background-color: $btn-form-controller;
    }

    .profil-picture {
      img {
        width: 15rem;
        height: 15rem;
      }
    }

    .card-body {
      img {
        width: 18px;
        height: 18px;
        margin-right: 15px;
      }
      p {
        margin: 0 0 5px 0;
      }
    }
  }
}