{% extends 'userLayout.html.twig' %}

{% block title %}Graphique des métiers {{ parent() }}{% endblock %}

{% block body %}

    <section class="chart">
        <div id="container" class="container">
        </div>
    </section>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('highcharts') }}
    <script>
        {{ chart | raw }}
    </script>
{% endblock %}
